#!/bin/bash
mkchdir () {
  mkdir -p -- "$1" && cd -P -- "$1"
}

proxy() {
  if [ "$1" == "on" ]; then
    export http_proxy=$PROXY
    export https_proxy=$PROXY
  elif [ "$1" == "off" ]; then
    export http_proxy=""
    export https_proxy=""
  else
    echo "Unknown argument. Must be \"on\" or \"off\"."
  fi
}

digh() {
  dig @${H_RESOLVER} "$@"
}

digi () {
  dig @${I_RESOLVER} "$@"
}

iph () {
  echo "$(curl ${H_IPSERVICE} --silent)"
}

ipi () {
  echo "$(curl ${I_IPSERVICE} --silent)"
}

setTitle () {
  echo -ne "\033]0;$1\a";
}

genPwd () {
python3 - << EOF
import secrets
import string

chars = string.ascii_uppercase + string.ascii_lowercase + string.digits
print(
    "".join(
        secrets.choice(chars) for _ in range(32)
    )
)
EOF
}

genPwdPhrase () {
python3 - << EOF
import secrets
from pathlib import Path

words = [
    wrd
    for wrd in Path("/usr/share/dict/words")
    .read_text(encoding="ISO-8859-1")
    .splitlines()
]
print(" ".join(secrets.choice(words) for _ in range(6)))
EOF
}

urlencode () {
  python3 -c 'import sys, urllib.parse; print(urllib.parse.quote(input(), safe=""))'
}

urldecode () {
  python3 -c 'import sys, urllib.parse; print(urllib.parse.unquote(input()))'
}

testRedirect () {
  curl -i "http://${1}" --resolve "${1}:80:${2:-$REDIRECT_SERVICE_IP}" --verbose
  curl -i "https://${1}" --resolve "${1}:443:${2:-$REDIRECT_SERVICE_IP}" --verbose
}
