[core]
  # autocrlf is confusing
  autocrlf = false
  editor = code --wait
[init]
  defaultBranch = main
[pull]
  ff = only
[push]
  default = current
[gpg]
  format = ssh
[gpg "ssh"]
  allowedSignersFile = ~/.config/git/allowed_signers
[user]
  signingkey = ~/.config/git/git_signing_key
[commit]
  gpgsign = true

# https://twitter.com/glyph/status/1359955841810530304
[protocol "http"]
  allow = never
[protocol "git"]
  allow = never
[fetch]
  fsckObjects = true
[transfer]
  fsckObjects = true
[receive]
  fsckObjects = true
