[core]
  # autocrlf is confusing
  autocrlf = false
  editor = code --wait
[init]
  defaultBranch = main
[pull]
  ff = only
[push]
  default = current
[gpg]
  format = ssh
[gpg "ssh"]
  allowedSignersFile = ~/.config/git/allowed_signers
[user]
  signingkey = ~/.config/git/git_signing_key
[commit]
  gpgsign = true

[alias]
  # https://adamj.eu/tech/2022/10/27/git-how-to-alias-master-as-main/
  alias-master-as-main = !git symbolic-ref refs/heads/main refs/heads/master && git symbolic-ref refs/remotes/origin/main refs/remotes/origin/master && git switch main

# https://twitter.com/glyph/status/1359955841810530304
[protocol "http"]
  allow = never
[protocol "git"]
  allow = never
[fetch]
  fsckObjects = true
[transfer]
  fsckObjects = true
[receive]
  fsckObjects = true
