[core]
  # autocrlf is stupid and confusing
  autocrlf = false
  editor = vim
[init]
  defaultBranch = main
[pull]
  ff = only

# https://twitter.com/glyph/status/1359955841810530304
[protocol "http"]
  allow = never
[protocol "git"]
  allow = never
[fetch]
  fsckObjects = true
[transfer]
  fsckObjects = true
[receive]
  fsckObjects = true
[push]
  default = current
